html {
    font-size: 100%;
}

body {
    background: #fff;
    font-family: Arial, helvetica, sans-serif;
    margin-bottom: 15px;
}

span {
    font-weight: bold
}

.true_text {
    color: #855CF8;
}

.lie_text {
    color: #EB5757;
}

button {
    padding: 5px;
    width: auto;
    color: rgb(228, 227, 235);
    background: #342C9F;
    border: 1px solid #342C9F;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}