* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-size: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
div {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
}

pre {
	overflow: auto;
}

button,
select {
	text-transform: none;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input {
	line-height: normal;
}

button,
input,
select,
textarea {
	margin: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	resize: none;
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	border: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}

body {
    background: #F7F8FC;
    font-family: Arial, helvetica, sans-serif;
    margin-bottom: 15px;
}

.container {
	width: 100%;
	max-width: 1140px;
	overflow: hidden;
	margin: 0 auto;
	padding-right: 15px;
}

.container:before, .container:after {
	content: " ";
	display: table;
}

.container:after { clear: both; }